.button__wrap {
  margin: 10px 0;
}

.form__wrap {
  display: flex;
  justify-content: center;
}

.form {
  margin-bottom: 20px;
}

.form__input {
  display: block;
  margin-bottom: 10px;
  width: 300px;
}